@page "/"

<style>
    @@keyframes fadeMe {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @@keyframes slide-up {
        from {
            margin-top: 100%;
            height: 300%;
        }
        to {
            margin-top: 0%;
            height: 100%;
        }
    }
</style>

<PageTitle>About me</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Welcome!</MudText>
<MudText Class="mb-5">
    Welcome to my website. I am Frankie, Ka-Yiu HUI, currently studying MSc Aerospace Computational Engineering at Cranfield University, UK. 
    I am passionate about different engineering disciplines including aerospace engineering, computer science, robotics, and more. In addition, I also enjoy photography, playing the guitar, and flying virtual jets in Microsoft Flight Simulator.
    <br> <br>
    On this page, I will introduce my education and professional background for those interested. I will also showcase some exciting projects that I have worked on in past on the Projects page.
    I will also write some blogs on the Blog page to bookmark some knowledge and reference that I have learned.
    <br> <br>
    Thank you for your time and I wish you have a great day!
    <br> <br>
    - Frankie Hui
</MudText>

<MudCarousel Class="mud-width-full mb-10" Style="height:380px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:100% width:100%">
            <MudImage Class="mx-auto my-auto" Src="images/ATS/ATS.png" Height="300" ObjectPosition="ObjectPosition.Center"/>
            <MudButton Href="#" Style="position: absolute; bottom: 40px" Variant="Variant.Text" Color="Color.Tertiary" FullWidth="true">AirTrafficSim</MudButton>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:100% width:100%">
            <MudImage Class="mx-auto my-auto" Src="images/FYP/FYP.png" Height="300" ObjectPosition="ObjectPosition.Center"/>
            <MudButton Href="#" Style="position: absolute; bottom: 40px" Variant="Variant.Text" Color="Color.Tertiary" FullWidth="true">Novel Bio-inspired Glider Design</MudButton>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:100% width:100%">
            <MudImage Class="mx-auto my-auto" Src="images/WLA/WLA.png" Height="300" ObjectPosition="ObjectPosition.Center"/>
            <MudButton Href="projects/wla" Style="position: absolute; bottom: 40px" Variant="Variant.Text" Color="Color.Tertiary" FullWidth="true">Water-Land-Air drone</MudButton>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:100% width:100%">
            <MudImage Class="mx-auto my-auto" Src="images/Robocon/Robocon1.JPG" Height="300" ObjectPosition="ObjectPosition.Center"/>
            <MudButton Href="#" Style="position: absolute; bottom: 40px" Variant="Variant.Text" Color="Color.Tertiary" FullWidth="true">ABU Robocon 2017 & 2018</MudButton>
        </div>
    </MudCarouselItem>
</MudCarousel>


<MudPaper Class="pa-0" Elevation="0">
    <MudText Typo="Typo.h4" GutterBottom="true"> My Curriculum Vitae</MudText>
    <MudButton Href="/images/CV_Frankie_Ka-yiu_HUI.pdf" Target="_blank" Class="mb-5" Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ArrowDownward" Color="Color.Tertiary" Size="Size.Large">
        Download my 2-page PDF CV here!
    </MudButton>
    <MudPaper Class="pa-5 mb-10" Elevation="2">
        <MudText Typo="Typo.h5" GutterBottom="true">Education</MudText>
        <MudCard Elevation="0">
            <MudCardContent>
                <MudText Typo="Typo.h6">MSc Aerospace Computational Engineering (2022-2023)</MudText>
                <MudText Typo="Typo.subtitle1">Cranfield University, United Kingdom</MudText>
                <MudText Typo="Typo.body2">
                    <b>Modules:</b> 
                    C++ programming, Computational methods, Numerical modelling for incompressible flow, 
                    Numerical modelling for compressible flow, Analysis and Visualisation of Big Data Systems and High-Performance Computing, Modelling Approaches for Aerospace Applications, Computational Engineering 
                    Structures, Validation and Verification for Aerospace Applications.
                </MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Elevation="0">
            <MudCardContent>
                <MudText Typo="Typo.h6">BEng Aerospace Engineering, minor in IT, Robotics (2016-2021)</MudText>
                <MudText Typo="Typo.subtitle1">The Hong Kong University of Science and Technology, Hong Kong (#27 QS World University Ranking at 2021)</MudText>
                <MudText Typo="Typo.body2"><b>Graduated with a 2:1 degree with GPA of 3.208/4 and awarded Dean's list for 2021 Spring semester.</b></MudText>
                <MudText Typo="Typo.body2"> 
                    <b> Aerospace Engineering Modules:</b> 
                    Nanosatellite, UAV, Composite Material, Aerodynamic, Jet Propulsion, Aircraft Structure, Aircraft Performance and Controls, Solid and Fluid Mechanics.
                </MudText>
                <MudText Typo="Typo.body2"> 
                    <b> Computer Science Modules:</b> 
                    Software Engineering, Fundamentals of A.I., Image Processing, OOP and data structure.
                </MudText>
                <MudText Typo="Typo.body2"> 
                    <b> Robotics Modules:</b> 
                    Embedded system, Control system.
                </MudText>
                <MudText Typo="Typo.body2"><b>Graduation thesis: </b> 
                    <MudLink Href="#" Typo="Typo.body2" Color="Color.Tertiary"> "Novel Bio-inspired glider design".</MudLink>
                    Collaborate with a group of 5 to analyse and apply bio-inspired features (bird’s wing tip and covert feathers) for glider’s wing design through leading CFD (OpenFOAM) analysis and conducting wind tunnel experiments.
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudPaper>

    <MudPaper Class="pa-5 mb-10" Elevation="2">
        <MudText Typo="Typo.h5" GutterBottom="true">Experience</MudText>
        <MudTimeline TimelinePosition="TimelinePosition.Start">
            <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
                <ItemContent>
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.overline"> Oct 2021 - Sep 2022 </MudText>
                            <MudText Typo="Typo.h6"> Research Assistant </MudText>
                            <MudText Typo="Typo.subtitle2" > Department of Mechanical and Aerospace Engineering at HKUST, Hong Kong</MudText>
                            <MudText Typo="Typo.body2"> Worked in the Optimization and Computation for Transportation and Aircraft Design Laboratory (OCATD Lab) under the supervision of Professor Rhea P. LIEM.</MudText>
                            <MudText Typo="Typo.body2" class="mt-4">
                                <li>Designed and built a <MudLink Href="https://octadlab.ust.hk/" Target="_blank" Typo="Typo.body2" Color="Color.Tertiary">lab website</MudLink> using WordPress for the research group.</li>
                                <li>Worked on air transportation management research for the Hong Kong International Airport to help air traffic controllers make a more informed decision to mitigate arrival delay with weather awareness.</li>
                                <li>Developed and published an open-source web-based air traffic simulation software 
                                    <MudLink Href="https://hkust-octad-lab.github.io/AirTrafficSim/" Target="_blank" Typo="Typo.body2" Color="Color.Tertiary">AirTrafficSim</MudLink> 
                                    written in Python and JavaScript which is used to study new arrival sequencing algorithms for Hong Kong International Airport.</li>
                                <li>Submitted a conference paper: H. C. Nguyen et al., “Tactical routing for air transportation in HKIA terminal manoeuvring area”, <em>The 26th HKSTS International Conference</em>, to be published, and a journal paper, K. Y. Hui et al., “AirTrafficSim: An open-source web-based air traffic simulation platform”, <em>The Journal of Open Source Software</em>, submitted for publication</li>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </ItemContent>
            </MudTimelineItem>

            <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
                <ItemContent>
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.overline"> Aug 2021 - Oct 2021 </MudText>
                            <MudText Typo="Typo.h6"> Research engineer </MudText>
                            <MudText Typo="Typo.subtitle2" > Hong Kong Industrial Artificial Intelligence and Robotics Centre (FLAIR), Hong Kong</MudText>
                            <MudText Typo="Typo.body2">FLAIR is established by the Hong Kong Productivity Council (HKPC) to support Hong Kong’s development into an international innovation & technology hub.</MudText>
                            <MudText Typo="Typo.body2" class="mt-4">
                                <li> Researched and constructed prototypes for a computer-aided assembly sequence planning system by analysing and building mathematical models around the relationship of conflicts between different components using FreeCAD.</li>
                                <li> Contributed to the foundation work of a conference paper, M. Yao et al., "Computer-Aided Assembly Sequence Planning for High-Mix Low-Volume Products in the Electronic Appliances Industry", <em> Proceedings of the Conference on Production Systems and Logistics: CPSL 2022 </em>, S. 91-100. DOI: <MudLink Href="https://doi.org/10.15488/12149" Target="_blank" Typo="Typo.body2" Color="Color.Tertiary">https://doi.org/10.15488/12149</MudLink></li>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </ItemContent>
            </MudTimelineItem>

            <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
                <ItemContent>
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.overline"> Sep 2020 - Jun 2021 </MudText>
                            <MudText Typo="Typo.h6"> Final Year Design Project </MudText>
                            <MudText Typo="Typo.subtitle2" > The Hong Kong University of Science and Technology, Hong Kong</MudText>
                            <MudText Typo="Typo.body2">Worked on the <MudLink Href="#" Typo="Typo.body2" Color="Color.Tertiary"> "Novel Bio-inspired glider design"</MudLink> project in a team of 5 to analyze and apply features of biological creatures for glider design. Awarded “A”.</MudText>
                            <MudText Typo="Typo.body2" class="mt-4">
                                <li>Conduct comprehensive literature research on bio-inspired wing feature designs.</li>
                                <li>Conduct computational fluid simulation (CFD) of the designs with OpenFoam.</li>
                                <li>Design and conduct wind tunnel experiments.</li>
                                <li>Preparing to publish the findings in a journal.</li>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </ItemContent>
            </MudTimelineItem>

            <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
                <ItemContent>
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.overline"> Jun 2019 - Jun 2020 </MudText>
                            <MudText Typo="Typo.h6"> Information Technology Internship </MudText>
                            <MudText Typo="Typo.subtitle2" > China Light and Power Co Ltd, Hong Kong</MudText>
                            <MudText Typo="Typo.body2">Established in 1901, CLP Power is one of Asia’s largest power utility companies with over 8000 employees serving more than 80% of Hong Kong’s population.</MudText>
                            <MudText Typo="Typo.body2" class="mt-4">
                                <li> Involved in the company’s cloud transformation projects, including Active Directory Federation Services (ADFS) and remote desktop upgrades and migrations, in the IT department’s infrastructure team and strategy and architecture team. </li>
                                <li> Assisted in the communication with vendors for system planning and testing as well as documentation.</li>
                                <li> Devised presentation decks and carried out tutorials to promote new cloud-based IT systems, including new log-in and remote desktop experiences, workflow automation systems and the O365 suite. </li>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </ItemContent>
            </MudTimelineItem>

            <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
                <ItemContent>
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.overline"> Feb 2019 - May 2020 </MudText>
                            <MudText Typo="Typo.h6"> Embedded system course project </MudText>
                            <MudText Typo="Typo.subtitle2" > HKUST ELEC3300 Introduction to Embedded Systems, Hong Kong</MudText>
                            <MudText Typo="Typo.body2">Designed and programmed an amphibious <MudLink Href="projects/wla" Typo="Typo.body2" Color="Color.Tertiary">“Land-Water-Air” (WLA) quadcopter</MudLink> with an STM32 microcontroller. Awarded “A+”.</MudText>
                            <MudText Typo="Typo.body2" class="mt-4">
                                <li>Designed and built a quadcopter that can fly in the air, drive on the road, and float on the water.</li>
                                <li>Designed and routed circuits for sensors and actuators such as IMU, GPS, servos, and brushless motors.</li>
                                <li>Programed the control software in C from scratch using STM32.</li>
                                <li>Implemented a PID flight controller.</li>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </ItemContent>
            </MudTimelineItem>


            <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
                <ItemContent>
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.overline"> Jan 2019 - Jan 2020 </MudText>
                            <MudText Typo="Typo.h6"> Mechanical Engineer Internship </MudText>
                            <MudText Typo="Typo.subtitle2" > Blue Sky Robotics, Hong Kong </MudText>
                            <MudText Typo="Typo.body2">Blue Sky Robotics is a start-up company aiming to produce electric vehicle charging robots for car parks.</MudText>
                            <MudText Typo="Typo.body2" class="mt-4">
                                <li> Researched and proposed different robotic arms and wheelbase ideas to the company. </li>
                                <li> Designed, built, and tested the electric vehicle charging robot prototypes for the company.</li>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </ItemContent>
            </MudTimelineItem>

            <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
                <ItemContent>
                    <MudCard Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.overline"> Sep 2016 - Sep 2018 </MudText>
                            <MudText Typo="Typo.h6"> Lead Mechanical Engineer </MudText>
                            <MudText Typo="Typo.subtitle2" > HKUST Robotics Team, Hong Kong</MudText>
                            <MudText Typo="Typo.body2">HKUST robotics team is a team of multi-backgrounded and multi-discipline undergraduate students competing in various international robotics competitions. </MudText>
                            <MudText Typo="Typo.body2" class="mt-4">
                                <li> Won the local contests of the Asia-pacific robotics competition (ABU Robocon) 2017 and 2018. </li>
                                <li> Represented Hong Kong to compete in the international context in Japan and Vietnam. Awarded best Design Award and Mabuchi Motor Award in ABU Robocon Japan 2017.</li>
                                <li> Led a group of 10 mechanical engineering students to design, build, and test robots and various mechanisms. </li>
                                <li> Effectively communicated with manufacturers in mainland China to manufacture machined parts and materials and hardware and software members to iteratively improve the design.</li>
                                <li> Organised the recruitment events and “Robot Design Contest” for freshmen in 2018 as Person-In-Charge. Tasks include formulating and hosting tutorial sections, creating game rules, organizing the contest’s game field and logistics, and managing different senior members’ tasks.</li>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </ItemContent>
            </MudTimelineItem>
        </MudTimeline>
    </MudPaper>

    <MudPaper Class="pa-5 mb-10" Elevation="2">
        <MudText Typo="Typo.h5" GutterBottom="true">Skills & Interests</MudText>
        <MudText Typo="Typo.body2"> <b>Languages:</b> Fluent in English, Mandarin, and native Cantonese.</MudText>
        <MudText Typo="Typo.body2"> <b>Certificates:</b> Microsoft Azure Fundamental AZ-900 certificate (Cloud infrastructure).</MudText>
        <MudText Typo="Typo.body2"> <b>Projects: </b> Designed and programmed an amphibious (“Land-Water-Air”) quadcopter with an STM32 microcontroller. Personal website projects.</MudText>
        <MudText Typo="Typo.body2"> <b>Engineering Skills: </b> Proficient in SolidWorks and experienced with CATIA, CFD (OpenFOAM, Fluent), and Paraview. Competent with CNC, additive manufacturing, and operating machinery and hand tools.</MudText>
        <MudText Typo="Typo.body2"> <b>IT Skills:</b> Confident IT user. Proficient in Microsoft Office and Adobe Creative software.</MudText>
        <MudText Typo="Typo.body2"> <b>Programming Skills: </b> Proficient with GitHub, Python, C, C++, and full-stack web programming (React.JS and Flask). Experienced with MATLAB, Java, HPC, Linux, and embedded system programming.</MudText>
        <MudText Typo="Typo.body2"> <b>Individual Interests: </b> Enjoys photography, videography, and playing music including guitar and piano. </MudText>
    </MudPaper>
</MudPaper>

@code {
}